body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 10px 10px 10px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid5 > .row
{
   display: grid;
   grid-template-columns: repeat(12, 8.333333%);
   margin-right: -10px;
   margin-left: -10px;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
   grid-column: span 12;
}
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   grid-column: span 2;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   text-align: left;
}
#LayoutGrid5 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   grid-column: span 8;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   text-align: center;
}
#LayoutGrid5 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   grid-column: span 2;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1, #LayoutGrid5 > .row > .col-2, #LayoutGrid5 > .row > .col-3
{
   width: 100%;
   grid-column: span 12;
}
}
#wb_LayoutGrid4
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #86BC42;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid4 > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid4 > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid4 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 320px)
{
#LayoutGrid4 > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_home
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#home
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 200px 50px 200px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#home > .row
{
   display: grid;
   grid-template-columns: repeat(12, 8.333333%);
   margin-right: -200px;
   margin-left: -200px;
}
#home > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 200px;
   padding-left: 200px;
   position: relative;
   grid-column: span 12;
}
#home > .row > .col-1
{
}
#home > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   grid-column: span 12;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   text-align: center;
}
@media (max-width: 480px)
{
#home > .row > .col-1
{
   width: 100%;
   grid-column: span 12;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   width: 100%;
   padding: 5px 15px 5px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid1 > .row
{
   display: grid;
   grid-template-columns: repeat(12, 8.333333%);
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
   grid-column: span 12;
}
#LayoutGrid1 > .row > .col-1
{
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   grid-column: span 12;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   width: 100%;
   grid-column: span 12;
}
}
#wb_LayoutGrid13
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid13
{
   box-sizing: border-box;
   width: 100%;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid13 > .row
{
   display: grid;
   grid-template-columns: repeat(12, 8.333333%);
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid13 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
   grid-column: span 12;
}
#LayoutGrid13 > .row > .col-1
{
}
#LayoutGrid13 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   grid-column: span 12;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: center;
   -webkit-align-self: stretch;
   -webkit-align-items: center;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid13 > .row > .col-1
{
   width: 100%;
   grid-column: span 12;
}
}
#wb_Extension1
{
   background: #000000;
   display: flex;
   overflow: hidden;
   perspective: 1000px;
   touch-action: none;
   transform-style: preserve-3d;
}
#Extension1, #Extension1-inner 
{
   display: flex;
   height: 100%;
   margin: auto;
   position: relative;
   transform-style: preserve-3d;
   transform: rotateX(-10deg);
}
#Extension1 a
{
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   transform: rotateX(90deg) scale(0.1);
   transform-style: preserve-3d;
   width: 100%;
}
#Extension1 img
{
   box-shadow: 0px 0px 8px rgba(255,255,255,0.50);
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   transform-style: preserve-3d;
   width: 100%;
   -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}
#Extension1 img:hover
{
   box-shadow: 0px 0px 12px rgba(255,255,255,0.50);
   -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}
#Extension1-reflection
{
   background: -webkit-radial-gradient(center center, farthest-side, #2C2C2C, transparent);
   height: 900px;
   left: 50%;
   position: absolute;
   top: 100%;
   transform: translate(-50%,-50%) rotateX(90deg);
   width: 900px;
}
@-webkit-keyframes carousel 
{
   from
   {
      transform: rotateY(0deg);
   } 
   to
   {
      transform: rotateY(360deg);
   }
}
@keyframes carousel
{
   from
   {
      transform: rotateY(0deg);
   } 
   to
   {
      transform: rotateY(360deg);
   }
}
#wb_Picture5
{
   margin: 0;
   vertical-align: top;
}
#Picture5
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 300px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/up_2.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: 100% 100%;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 10px 0px 10px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid9 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid9 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 25%;
   max-width: 25%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   text-align: right;
}
#LayoutGrid9 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 25%;
   max-width: 25%;
   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-content: flex-start;
   -webkit-align-self: stretch;
   -webkit-align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 1000px)
{
#LayoutGrid9 > .col-1, #LayoutGrid9 > .col-2, #LayoutGrid9 > .col-3
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   padding: 15px 15px 15px 15px;
   margin: 0;
   text-align: right;
}
#wb_Text6 div
{
   text-align: right;
}
#wb_Text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 15px 0px 0px 0px;
   text-align: right;
}
#wb_Text1 div
{
   text-align: right;
}
#wb_Text1
{
   display: block;
   margin: 15px 0px 0px 0px;
   box-sizing: border-box;
   width: 100%;
}
#wb_Picture5
{
   display: block;
   width: 100%;
   height: auto;
   z-index: 2;
}
#wb_uid2
{
   color: #000000;
   font-family: "Times New Roman";
   font-size: 16px;
}
#wb_uid1
{
   color: #2D3E50;
   font-family: "Times New Roman";
   font-size: 16px;
}
#wb_uid0
{
   color: #000000;
   font-family: "Times New Roman";
   font-size: 16px;
}
#wb_Extension1
{
   display: inline-block;
   width: 100%;
   height: 506px;
   z-index: 1;
}
@media only screen and (max-width: 1080px)
{
}
@media only screen and (max-width: 1024px)
{
}
@media only screen and (max-width: 800px)
{
}
@media only screen and (max-width: 768px)
{
}
@media only screen and (max-width: 480px)
{
}
@media only screen and (max-width: 320px)
{
}
